body{
    margin: 0 auto;
}
h1{
    text-transform: capitalize;
}
section{
    padding: 0px 0px 30px 0px;
}
.link{
    text-decoration: none;
    color: blueviolet;
}
.link:hover{
    text-decoration: underline;
    color: violet;
}
.container{
    font-size: 18px;
    max-width: 100%;
    margin: 0px 0px;
    text-align: center;
} 
.logo{
    width: 120px;
}
.hero-img{
    width: 500px;
}
.nav-link{
   display: inline-block;
    margin: 15px 0px 0px 25px;
    text-align: center;
}
.hero-text{
    width: 550px;
    margin: 0 auto;
}
.project-items{
    text-decoration: none;
    display: inline-block;
    margin: 0px 50px;
    font-size: 20px;
    font-weight: bold;
}
.hero-link{
    text-transform: capitalize;
}